{% extends 'base.html' %}


{% block main_content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index'  %}"><i class="fa fa-home"></i> Home</a>
                    <a href="#">watchlist</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container">
        
        
        {% if watchlists %}
            <ul class="row">
                {% for watchlist in watchlists %}

                    <li class="col-md-4">
                        <div class="card">
                            <img src="{{  watchlist.product.images.first.picture.url }}" alt="{{ watchlist.product.name }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ watchlist.product.name }}</h5>
                                <p class="card-text price">Price: ${{ watchlist.product.price }}</p>

                                <button class="btn btn-danger"><a href="{% url 'watchlist_remove' product=watchlist.product %}" class="remove-link" style="color:white">Remove</a></button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 mt-5">
                <div class="alert alert-info text-center">
                  <h4>Your Wishlist list is empty.</h4>
                </div>
              </div>
            </div>
          </div>
                
        {% endif %}
</div>
    
{% endblock main_content %}
